
.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-end{
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-space{
  justify-content: space-between;
}

.closeBtnTab{
  width: 100%;
}

a{
  color: #333;
}

.tiny{
  font-size: 10px;
  color: #f9f9f9;
  font-family: sans-serif;
}

.highlight{
  color: #333;
}

.gk_xbtn{
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background-color: #fff;
  font-size: 10px;
  color: #aaa;
  padding: 7px 20px;
  cursor: pointer;
  outline: 0;
}

.gk_xbtn:hover{
  background-color: #f9f9f9;
}

#gk_popup{
  padding: 10px;
  margin: 0px;
  width: 400px;
  height: 300px;
  background-color: #F9F9F9;
  position: absolute;
  display: flex;
  box-shadow: 0 0 1px 0 rgba(76,85,101,0.2), 0 2px 7px 0 rgba(76,85,101,0.2) !important;
  z-index: 10000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  top: 100px;
  left:100px;
}

.gk_gif_display_bar{
  width: 100%;
  height: 280px;
  padding: 0px;
  background-color: #ffffff;
  overflow-y: scroll;
  margin: 5px 5px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.gk_ph_gif_search{
  width: 380px;
  margin: 5px 0;
  outline: 0;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 7px 10px;
  border-radius: 3px;
  color: #666;
}


.gk_gif_images{
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
}
